.wrap {
  display: flex;
  gap: 8px;
}

@media screen and (max-width: 767px) {
  .wrap {
    flex-direction: column;
    gap: 8px;
  }
}

.btnLogin {
  padding: 14px 39px;
  width: 124px;
  transition: border-color var(--primary-transition);
}

.btnLogin:hover,
.btnLogin:focus {
  outline: transparent;
}

.btnRegistration {
  padding: 14px 40px;
  transition: background-color var(--primary-transition);
}

.btnRegistration:hover,
.btnRegistration:focus {
  background-color: var(--color-secondary-green);
  outline: transparent;
}

@media screen and (min-width: 768px) {
  .btnLodin {
    padding: 14px 39px;
    width: 124px;
    height: 48px;
  }
}
