.wrap {
  display: flex;
  gap: 8px;
}

@media screen and (max-width: 767px) {
  .wrap {
    flex-direction: column;
  }
}

.btnLogin {
  padding: 14px 39px;
}

.btnRegistration {
  padding: 14px 40px;
}
