.layoutWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.homeBg {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
}

.psychologistsBg {
  background: var(--color-secondary-white);
}

.background {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: var(--bg-overlay-dark);
}
