.button {
  width: 100%;
  border-radius: 30px;
  padding: 14px 40px;
  border: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color var(--primary-transition);
}

.buttonLog {
  border: 1px solid var(--bg-overlay-dark);
  background-color: transparent;
  color: var(--color-primary-black);
  transition: border-color var(--primary-transition);
}

.buttonLog:hover,
.buttonLog:focus {
  border-color: var(--color-dark);
  outline: transparent;
}

.buttonDefault {
  background-color: var(--button-bg-color);
  color: var(--color-primary-white);
}

.buttonDefault:hover,
.buttonDefault:focus {
  background-color: var(--button-bg-color-hover);
  outline: transparent;
}
