.nav {
  position: relative;
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.link {
  position: relative;
  transition: color var(--primary-transition);
}

.link:hover {
  color: var(--color-secondary-green);
}

@media screen and (min-width: 768px) {
  .menuButton {
    background: transparent;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    width: 133px;
    transition: color var(--primary-transition);
  }

  .menuButton:hover {
    color: var(--color-secondary-green);
  }

  .menuList {
    position: absolute;
    top: 100%;
    left: 11%;
    z-index: 999;
    background: transparent;
  }
}

@media (min-width: 1200px) {
  .menuList {
    position: static;
    flex-direction: row;
    gap: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .active::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-primary-green);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
}
