.nav {
  position: relative;
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.link {
  position: relative;
  transition: color var(--primary-transition);
}

.link:hover {
  color: var(--button-bg-color-hover);
}

@media screen and (min-width: 768px) {
  .menuButton {
    background: transparent;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    width: 133px;
    transition: color var(--primary-transition);
  }

  .menuButton:hover {
    color: var(--button-bg-color-hover);
  }

  .menuList {
    position: absolute;
    top: 100%;
    left: 11%;
    z-index: 999;
    background: transparent;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menuList {
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity var(--primary-transition),
      transform var(--primary-transition);
    pointer-events: none;
  }

  .open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  .menuList li {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 0.4s ease forwards;
  }

  .menuList li:nth-child(1) {
    animation-delay: 0.1s;
  }
  .menuList li:nth-child(2) {
    animation-delay: 0.2s;
  }
  .menuList li:nth-child(3) {
    animation-delay: 0.3s;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media (min-width: 1200px) {
  .menuList {
    position: static;
    flex-direction: row;
    gap: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .active::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--button-bg-color);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
}
