.header {
  border-bottom: 1px solid var(--bg-overlay-dark);
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 475px;
  max-width: 575px;
  padding: 24px 32px;
  margin: 0 auto;
}
@media screen and (max-width: 474px) {
  .wrapper {
    min-width: 320px;
  }
}

.btn {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  width: 28px;
  height: 28px;
}

.iconBtn {
  width: 28px;
  height: 28px;
  stroke: var(--color-dark);
}

.menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media screen and (max-width: 767px) {
  .menu {
    position: absolute;
    top: 60px;
    right: 32px;
    z-index: 999;
    width: 200px;
    background-color: var(--color-primary-white);
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    padding: 16px;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--primary-transition),
      visibility var(--primary-transition);
  }

  .menu.open {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 1000px;
    gap: 40px;
  }

  .menu {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    background: none;
    box-shadow: none;
    width: 580px;
    padding: 0;
    transform: none;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    min-width: 1200px;
    gap: 130px;
  }

  .menu {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    min-width: 1440px;
    padding: 24px 128px;
  }
}
