:root {
  /* Colors */
  --color-primary-white: #fbfbfb;
  --color-secondary-white: #f3f3f3;
  --bg-overlay-dark: rgba(25, 26, 21, 0.6);
  --color-dark: #191a15;
  --button-text-color: #fbfbfb;

  /* Transition */
  --primary-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* green theme  */
[data-theme='green'] {
  --button-bg-color: #54be96;
  --button-bg-color-hover: #36a379;
  --bg-icon-color1: #4535af;
  --bg-icon-color2: #fbc75e;
  --color-background-avatar: rgba(84, 190, 150, 0.2);
  --bg-image: image-set(
    url('/src/assets/img/bg-green.png') 1x,
    url('/src/assets/img/bg-green@2x.png') 2x
  );
}

/* Blue theme */
[data-theme='blue'] {
  --button-bg-color: #3470ff;
  --button-bg-color-hover: #255ee8;
  --bg-icon-color1: #54be96;
  --bg-icon-color2: #fbc75e;
  --color-background-avatar: rgba(52, 112, 255, 0.2);
  --bg-image: image-set(
    url('/src/assets/img/bg-blue.png') 1x,
    url('/src/assets/img/bg-blue@2x.png') 2x
  );
}

/* Orange theme */
[data-theme='orange'] {
  --button-bg-color: #fc832c;
  --button-bg-color-hover: #f37113;
  --bg-icon-color1: #54be96;
  --bg-icon-color2: #fbc75e;
  --color-background-avatar: rgba(252, 131, 44, 0.2);
  --bg-image: image-set(
    url('/src/assets/img/bg-orange.png') 1x,
    url('/src/assets/img/bg-orange@2x.png') 2x
  );
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--color-dark);
  background-color: var(--bg-primary-color);
}

h1, h2, h3, h4, h5, h6 {
  font-size: clamp(34px, 4vw, 80px);
  line-height: 1.025;
  letter-spacing: -0.02em;
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
