.userWrapp {
  display: none;
}

@media screen and (min-width: 768px) {
  .wrap {
    display: flex;
    gap: 28px;
    align-items: center;
  }

  .userWrapp {
    display: block;
    display: flex;
    gap: 14px;
    align-items: center;
  }

  .svgWrapp {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--button-bg-color);
  }

  .svg {
    width: 16px;
    height: 16px;
    stroke: var(--color-primary-white);
  }

  .text {
    font-weight: 500;
    letter-spacing: -0.01em;
  }
}
